/* Setting up Minecraft font */
@font-face {
    font-family: "minecraft";
    src: url("../fonts/minecraft/minecraft.ttf");
}

@font-face {
    font-family: "minecraft";
    src: url("../fonts/minecraft/3_Minecraft-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "minecraft";
    src: url("../fonts/minecraft/2_Minecraft-Italic.otf");
    font-style: italic;
}

@font-face {
    font-family: "minecraft";
    src: url("../fonts/minecraft/4_Minecraft-BoldItalic.otf");
    font-style: italic;
    font-weight: bold;
}

.mc-font { /* Use this to turn any text to minecraft font */
    font-family: "minecraft";
}
/* -------------- */



/* Login and Register Page CSS */
.dark-dirt-bg {
    background-image: url("../images/dark_dirt_bg.png");
}

.grass-block {
    display: flex;
    background-image: url("../images/grass_block.png");
    background-repeat: no-repeat;
    justify-content: center;
}

.vertical-center {
    display: flex;
    align-items: center;
  }

.white-text {
    color: white;
}

.w-200 {
    width: 200px;
}

/* -------------- */

.test {
    color: white;
    font-size: 50px;
    background-color: green;
}