<nav class="mc-font stone-brick-bg p-2 navbar navbar-expand-sm bg-success fixed-top">
    <div class="container-fluid justify-content-start">
        <a class="fs-4 p-2 btn btn-success text-white " href="/">
            <i class="bi bi-house"></i>
            <b>Home</b>
        </a>
    </div>
    <div class="container-fluid justify-content-center">
        <form class="d-flex m-2" action="">
            <input class="form-control me-2 w-100" type="search" placeholder="Search forums" aria-label="Search">
            <button class="btn btn-success btn-sm" type="submit">Search</button>
        </form>
    </div>
    <div class="container-fluid justify-content-end">
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="pfp me-2" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"/>
                Diego
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/users/Diego"><i class="bi bi-person-fill me-3"></i>Profile</a></li>
                <li><a class="dropdown-item text-danger" href="/login"><i class="bi bi-box-arrow-right me-3"></i>Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var nav = document.querySelector('nav');
        if (window.location.pathname.includes('/users/')) {
            nav.classList.remove('stone-brick-bg');
            nav.classList.add('log');
        }
    });
</script>
