<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/main.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <body class="polished-blackstone-bg">
        <nav class="mc-font stone-brick-bg p-2 navbar navbar-expand-sm bg-success fixed-top">
            <div class="container-fluid justify-content-start">
                <a class="fs-4 p-2 btn btn-success text-white " href="../html/index.html">
                    <i class="bi bi-house"></i>
                    <b>Home</b>
                </a>
            </div>
            <div class="container-fluid justify-content-center">
                <form class="d-flex m-2" action="">
                    <input class="form-control me-2 w-100" type="search" placeholder="Search forums" aria-label="Search">
                    <button class="btn btn-success btn-sm" type="submit">Search</button>
                </form>
            </div>
            <div class="container-fluid justify-content-end">
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="pfp me-2" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"/>
                        Diego
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../html/account.html"><i class="bi bi-person-fill me-3"></i>Profile</a></li>
                        <li><a class="dropdown-item text-danger" href="../html/login.html"><i class="bi bi-box-arrow-right me-3"></i>Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>



        <div class="mc-font top-spacer d-flex justify-content-center pt-5">
            <div class="flex-column">
                <a href="../html/create_post.html" class="btn btn-success mb-2">Create Post</a>
                <div class="mb-3 post-sizing d-flex flex-row">
                    <div class="profile-section d-flex flex-column stone-brick-bg slink">
                        <img class="pfp-l m-3" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"/>
                        <p class="text-center text-white fs-5">Diego</p>
                        <p class="text-center text-white sm-text pt-5">Posted<br>Jan 1, 2024</p>
                        <a href="../html/account.html" class="stretched-link"></a>
                    </div>
                    <div class="post-body d-flex flex-column bg-dark container-fluid slink">
                        <p class="text-white fs-2 m-3 "><b>Has Minecraft actually gotten worse???</b></p>
                        <div class="d-flex flex-row m-3">
                            <p class="me-3 text-white"><i class="bi bi-chat-left-text-fill me-2 text-white"></i>3 Replies</p>  
                            <i class="bi bi-hand-thumbs-up-fill me-2 text-success"></i><p class="text-white me-3"></i>3 Likes</p>  
                            <i class="bi bi-hand-thumbs-down-fill text-danger me-2"></i><p class="text-white">21 Dislikes</p>
                        </div>
                        <div class="post-tags d-flex flex-row ms-3">
                            <p class="mx-1 p-1 border border-warning bg-warning-subtle text-dark">Hater</p>
                            <p class="mx-1 p-1 border border-warning bg-warning-subtle text-dark">Advice</p>
                            <p class="mx-1 p-1 border border-warning bg-warning-subtle text-dark">Q&A</p> 
                        </div>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-success btn-sm m-2 stretched-link" href="../html/post1.html">View Thread</a>
                        </div>
                    </div>
                </div>

                <div class="mb-3 post-sizing d-flex flex-row">
                    <div class="profile-section d-flex flex-column stone-brick-bg slink">
                        <img class="pfp-l m-3" src="../images/creeper.png"/>
                        <p class="text-center text-white fs-5">Creeper</p>
                        <p class="text-center text-white sm-text pt-5">Posted<br>Jan 1, 2024</p>
                        <a href="../html/account2.html" class="stretched-link"></a>
                    </div>
                    <div class="post-body d-flex flex-column bg-dark container-fluid slink">
                        <p class="text-white fs-2 m-3 "><b>Why are creepers so hated??</b></p>
                        <div class="d-flex flex-row m-3">
                            <p class="me-3 text-white"><i class="bi bi-chat-left-text-fill me-2 text-white"></i>2 Replies</p>  
                            <i class="bi bi-hand-thumbs-up-fill me-2 text-success"></i><p class="text-white me-3"></i>3 Likes</p>  
                            <i class="bi bi-hand-thumbs-down-fill text-danger me-2"></i><p class="text-white">0 Dislikes</p>
                        </div>
                        <div class="post-tags d-flex flex-row ms-3">
                            <p class="mx-1 p-1 border border-warning bg-warning-subtle text-dark">Question</p>
                            <p class="mx-1 p-1 border border-warning bg-warning-subtle text-dark">Q&A</p> 
                        </div>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-success btn-sm m-2 stretched-link" href="../html/post2.html">View Thread</a>
                        </div>
                    </div>
                </div>

                <div class="mb-3 post-sizing d-flex flex-row">
                    <div class="profile-section d-flex flex-column stone-brick-bg slink">
                        <img class="pfp-l m-3" src="../images/steve.png"/>
                        <p class="text-center text-white fs-5">Steve</p>
                        <p class="text-center text-white sm-text pt-5">Posted<br>Jan 1, 2024</p>
                        <a href="../html/account3.html" class="stretched-link"></a>
                    </div>
                    <div class="post-body d-flex flex-column bg-dark container-fluid slink">
                        <p class="text-white fs-2 m-3 "><b>I think I saw Herobrine in my minecraft world!!</b></p>
                        <div class="d-flex flex-row m-3">
                            <p class="me-3 text-white"><i class="bi bi-chat-left-text-fill me-2 text-white"></i>1 Replies</p>  
                            <i class="bi bi-hand-thumbs-up-fill me-2 text-success"></i><p class="text-white me-3"></i>10 Likes</p>  
                            <i class="bi bi-hand-thumbs-down-fill text-danger me-2"></i><p class="text-white">3 Dislikes</p>
                        </div>
                        <div class="post-tags d-flex flex-row ms-3">
                            <p class="mx-1 p-1 border border-warning bg-warning-subtle text-dark">Creepypasta</p>
                            <p class="mx-1 p-1 border border-warning bg-warning-subtle text-dark">Horror</p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-success btn-sm m-2 stretched-link" href="../html/post3.html">View Thread</a>
                        </div>
                    </div>
                </div>

                <div class="mb-3 post-sizing d-flex flex-row">
                    <div class="profile-section d-flex flex-column stone-brick-bg slink">
                        <img class="pfp-l m-3" src="../images/zombie.png"/>
                        <p class="text-center text-white fs-5">Zombie</p>
                        <p class="text-center text-white sm-text pt-5">Posted<br>Jan 1, 2024</p>
                        <a href="../html/account4.html" class="stretched-link"></a>
                    </div>
                    <div class="post-body d-flex flex-column bg-dark container-fluid slink">
                        <p class="text-white fs-2 m-3 "><b>Just met up with Herobrine today</b></p>
                        <div class="d-flex flex-row m-3">
                            <p class="me-3 text-white"><i class="bi bi-chat-left-text-fill me-2 text-white"></i>0 Replies</p>  
                            <i class="bi bi-hand-thumbs-up-fill me-2 text-success"></i><p class="text-white me-3"></i>1000 Likes</p>  
                            <i class="bi bi-hand-thumbs-down-fill text-danger me-2"></i><p class="text-white">1 Dislikes</p>
                        </div>
                        <div class="post-tags d-flex flex-row ms-3">
                            <p class="mx-1 p-1 border border-warning bg-warning-subtle text-dark">Chill</p>
                            <p class="mx-1 p-1 border border-warning bg-warning-subtle text-dark">Cool</p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-success btn-sm m-2 stretched-link" href="../html/post4.html">View Thread</a>
                        </div>
                    </div>
                </div>

                <div class="mb-3 post-sizing d-flex flex-row">
                    <div class="profile-section d-flex flex-column stone-brick-bg slink">
                        <img class="pfp-l m-3" src="../images/enderman.png"/>
                        <p class="text-center text-white fs-5">Enderman</p>
                        <p class="text-center text-white sm-text pt-5">Posted<br>Jan 1, 2024</p>
                        <a href="../html/account5.html" class="stretched-link"></a>
                    </div>
                    <div class="post-body d-flex flex-column bg-dark container-fluid slink">
                        <p class="text-white fs-2 m-3 "><b>Yooo this is my first post</b></p>
                        <div class="d-flex flex-row m-3">
                            <p class="me-3 text-white"><i class="bi bi-chat-left-text-fill me-2 text-white"></i>0 Replies</p>  
                            <i class="bi bi-hand-thumbs-up-fill me-2 text-success"></i><p class="text-white me-3"></i>0 Likes</p>  
                            <i class="bi bi-hand-thumbs-down-fill text-danger me-2"></i><p class="text-white">0 Dislikes</p>
                        </div>
                        <div class="post-tags d-flex flex-row ms-3">
                        </div>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-success btn-sm m-2 stretched-link" href="../html/post5.html">View Thread</a>
                        </div>
                    </div>
                </div>

            </div>
            
            
        </div>

    </body>
</html>